@use '../sass/abstracts/mixins';

.cta {
    background-color: black; 
    padding: 2rem;  
    margin-top: 2rem;
    //margin-bottom: 2rem;
    text-align: center; 
    &__text {
        color: white;
    }
    &__subhead {
        font-family: Arial;
        margin-top: 1rem; 
        margin-bottom: 1rem; 
    }
    &__buttons { 
        display: inline-block;
        padding: 1rem; 
        //ackground-color: red;
        a {
            padding: 1rem;
        }
        @include mixins.breakpoint(mobile) {
            display: block; 
            z-index: 5;
        }
    }
}