.footer {
    padding: 2rem; 
    background-color: #CCCCCC; 
    //margin-top: 2rem;
    //margin-bottom: 2rem;
    text-align: center;  
    &__copyright {
        font-family: Arial;
    }

    &__list {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        display: flex;
        gap: 2.25rem;
        justify-content: center; 
        &__item {
            a {
                justify-content: space-between;
            }
        }
    }
}